body{
    background-color:rgb(233, 234, 237, 255);

}
header{
background-color: rgb(0, 25, 76, 255);
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 550;
    color: black;
    font-size: 25px;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 550;
    color: black;
    font-size: 25px;
}
h3{
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 550;
color: rgb(0,81,141,255);
}
h4{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 550;
    color: rgb(0,81,141,255);
}
h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 550;
    color: rgb(0,81,141,255);
}
h6{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 550;
    color: rgb(0,81,141,255);
}
.col-3{
}

.col-sm1{
    background-color: white;
}
.col-sm1> p::first-letter{
    color:rgb(65, 150, 164);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.85rem;
    font-weight: 800;
    line-height: 1.1;
    margin-right: 8px;
    min-width: 36px;
    text-align: center;
}

.col-sm2{
    background-color: white;
}
col-6{
   
}
article{
    background-color: white;    
}
hr{
    font-size: "10";
    width: "90%";
    color: black;
    border-style: initial;
}
.further-info{
    background-color:rgb(248, 248, 248, 255);
    text-align: center;
    word-spacing: .5rem;

}
.container1{
    background-color:white;
    display: inline;
    margin-right: 1em;
    text-align: center;
    word-spacing: .5rem;
  }